In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn import linear_model

In [4]:
df= pd.read_csv("MultiVarReg.csv")

In [5]:
df.describe()

              area  bedrooms       age          price
count     5.000000  4.000000   5.00000       5.000000
mean   3280.000000  3.750000  18.20000  616000.000000
std     540.370243  0.957427   8.01249   83919.604384
min    2600.000000  3.000000   8.00000  550000.000000
25%    3000.000000  3.000000  15.00000  565000.000000
50%    3200.000000  3.500000  18.00000  595000.000000
75%    3600.000000  4.250000  20.00000  610000.000000
max    4000.000000  5.000000  30.00000  760000.000000

In [6]:
df.head(4)

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       NaN   18  610000
3  3600       3.0   30  595000

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   area      5 non-null      int64
 1   bedrooms  4 non-null      float64
 2   age       5 non-null      int64
 3   price     5 non-null      int64
dtypes: float64(1), int64(3)
memory usage: 288.0 bytes

In [8]:
df.columns

Index(['area', 'bedrooms', 'age', 'price'], dtype='object')

In [11]:
import math
bmed=df["bedrooms"].median()
bmed=math.floor(df["bedrooms"].median())

In [12]:
bmed

3

In [20]:
# df.fillna(bmed)
df['bedrooms']=df['bedrooms'].fillna(bmed)
df

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       3.0   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000

In [29]:
reg=linear_model.LinearRegression()
reg.fit(df[['area','bedrooms','age']],df['price'])

LinearRegression()

In [33]:
reg.predict([[3100,4,10]])

/Users/pranayspeed/miniconda3/envs/dev/lib/python3.10/site-packages/sklearn/base.py:465: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([636850.])

In [30]:
# df[['area','bedrooms','age']]

In [28]:
type(df['area']),type(df[['area']])

(pandas.core.series.Series, pandas.core.frame.DataFrame)

In [36]:
reg.coef_, reg.intercept_

(array([   137.25, -26025.  ,  -6825.  ]), 383725.0)

In [43]:
(reg.coef_*[3100,4,10]).sum()+reg.intercept_

636850.0

In [47]:
(reg.coef_*[3100,4,10]).sum()+reg.intercept_

636850.0

In [48]:
[(reg.coef_*x).sum()+reg.intercept_ for x in [[3100,4,10], [4000,3,15]]]

[636850.0, 752275.0]

In [50]:
# !pip install word2number